@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


:root{
    --first-color: #191919;
    --secondary-color: #F5C400;
    --body-color: white;
    --body-font: 'Poppins', sans-serif;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

h1,h2,h3,h4 {
    font-weight: var(--font-semi-bold);
}


/*==========Navegação==========*/
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 1px 1px 2px var(--secondary-color);
    background-color: white;
}
.nav-link{
    color: var(--first-color);
    font-size: 1.1rem;
    text-transform: uppercase;
}
.nav-link:hover{
    color: var(--secondary-color);
}

.fa-bars{
    color: var(--first-color);
    font-size: 40px;
    z-index: 9999;
}
.navbar-collapse {
    background: #f8f9fa14;
    text-align: right;
    transition: 300ms;
}

.navbar img{
    width: 140px;
}


/*========TOPO========*/
#topo{
    height: 700px;
    background-image: url("../img/bg-home-top.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    padding-top: 200px;
}
.topo__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}
.topo__info hr{
    width: 100px;
    border: 1px solid var(--secondary-color);
    margin-left: 0;
}
.topo__info h1{
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}
.topo__info h1 span{
    color: var(--secondary-color);
}
.topo__info h2{
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}
.texto{
    font-weight: bold;
    z-index: 1;
    position: absolute;
}
.topo__info .texto{
    font-size: 3.5rem;
    top: 155px;;
}
.topo__info h4{
    color: white;
    font-size: 25px;
    margin-top: 40px;
}

.efeitoSkew{
    margin-left: 36px;
    background-color: var(--secondary-color);
    transform: skew(-53deg);
    -webkit-transform: skew(-53deg);
    -moz-transform: skew(-53deg);
}

.topo__info .efeitoSkew{
    width: 180px;
    height: 65px;
}

.topo__info .contact{
    padding: 10px 20px;
    color: white;
    margin-top: 15px;
    border: 1px solid var(--secondary-color);
    border-collapse: collapse;
    background-color: var(--secondary-color);
}


/*========ABOUT========*/
#about{
    background-image: url("../img/bg-about.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
}
.about__info{
    margin-top: 20px;
    margin-bottom: 25px;
}
.about__info--box{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;  
    color: white;  
}
.about__info h4{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
.about__info p{
    font-size: 16px;
    text-align: justify;
}
.about__info .efeitoSkew{
    height: 40px;
    width: 130px;
    margin-left: 20px;
}
.about__imagem img{
    width: 100%;
}

/*========TRAINING========*/
#training{
    margin-top: 30px;
    margin-bottom: 30px;
}
.training__title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.training__title .efeitoSkew{
    height: 40px;
    width: 130px;
    margin-left: 20px;
}

.training__box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.training__card{
    display: flex;
    flex-direction: column;
}
.training__card p{
    font-size: 12px;
}
.training__card .texto{
    font-size: 15px;
}
.training__card .efeitoSkew{
    height: 20px;
    width: 50px;
    margin-left: 10px;
}
.card--four .efeitoSkew{
    width: 85px;
}
.training__imagem img{
    width: 100%;
}
.card--one{
    text-align: right;
    align-items: flex-end;
}
.card--two{
    text-align: left;
    align-items: flex-start;
}
.card--three{
    text-align: right;
    align-items: flex-end;
}
.card--four{
    text-align: left;
    align-items: flex-start;
}

/*========RATES========*/
#rates{
    padding: 25px 0px;
}

.rates__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
}
.rates__title .caixa-controle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rates__title .texto{
    margin-top: 5px;
}
.rates__title .efeitoSkew{
    height: 35px;
    width: 60px;
    margin-left: 20px;
}

.card__rates{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    padding: 4em;
}
.card__rates--header{
    color: black;
    font-weight: bold;
    margin: 20px 0px;
}
.card__rates--header hr{
    width: 40px;
    border: 2px solid;
    margin-left: 0;
}
.card__rates--body ul{
    list-style: url("../img/check.png");
}
.card__rates--body ul li{
    margin-bottom: 0.5em;
    color: black;
}

.card--laterais{
    border: 4px dashed var(--secondary-color);
}

.card--central{
    background-color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
}
.card--central .card__rates--header{
    color: white;
}
.card--central ul li{
    color: white;
}
.card--central ul{
    list-style: url("../img/check-white.png");
}
 
/*========CONTACT========*/
#contact{
    background: url("../img/bg-contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding: 30px 0;
}
.contact__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 350px;
    color: white;
}
.contact__title .efeitoSkew{
    height: 40px;
    width: 140px;
    margin-left: 20px;
}
.contact__title hr{
    width: 40px;
    border: 1px solid var(--secondary-color);
    margin-left: 0;
}
.contacts ul{
    list-style: none;
    padding: 0px;
}
.follow{
    margin-bottom: 10px;
}
.follow h4 span{
    color: var(--secondary-color);
}
.follow ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
.follow ul li{
    background-color: white;
}
.follow ul li a{
    padding: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    transition: all 0.5s;
}
.follow ul li a:hover{
    color: white;
    background-color: var(--secondary-color);
}
.follow ul li a i{
    font-size: 20px;
}

.contact__form h2{
    color: white;
    margin-bottom: 30px;
}
.contact__form span{
    color: var(--secondary-color);
}


.form__button{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--first-color);
    transition: all 0.5s;
    margin-top: 10px;
}
.form__button:hover{
    background-color: var(--first-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}



/* Sem media query para `xs`, já que este é o padrão, no Bootstrap.*/
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) {

    .navbar img{
        width: 160px;
    }
    /*========TOPO========*/
    #topo{
        padding-top: 100px;
        height: 750px;
    }
    .topo__info{
        margin-top: 100px;
    }
    .topo__info h1{
        font-size: 2.5rem;
    }
    .topo__info h2{
        font-size: 5.5rem;
    }
    .topo__info .texto{
        font-size: 4.5rem;
        top: 190px;
    }
    .topo__info h4{
        font-size: 30px;
        margin-top: 45px;
    }
    .topo__info .efeitoSkew{
        width: 260px;
        height: 70px;
    }

    
}

/*Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) {
    .navbar img{
        width: 180px;
    }
    /*========TOPO========*/
    #topo{
        padding-top: 0;
        height: 800px;
    }
    .topo__info{
        margin-top: 190px;
    }
    .topo__info h1{
        font-size: 3.5rem;
    }
    .topo__info h2{
        font-size: 8rem;
    }
    .topo__info .texto{
        font-size: 7.5rem;
        top: 240px;
    }
    .topo__info h4{
        margin-top: 60px;
    }
    .topo__info .efeitoSkew{
        width: 450px;
        height: 100px;
    }    

    /*========ABOUT========*/
    #about{
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .about__info{
        order: 2;
    }
    .about__info--box{
        align-items: flex-start;
    }
    .about__imagem img{
        height: 100%;
    }


    /*========TRAINING========*/

    .training__box{
        flex-direction: column;
    }

    .training__imagem{
        display: flex;
        align-items: center;
    }
    
    .card--two{
        text-align: right;
        align-items: flex-end;  
    }
    .card--three{
        text-align: left;
        align-items: flex-start;
    }

}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) {
    .navbar img{
        width: 200px;
    }
    .navbar-collapse {
        background: transparent;
    }
    .navbar-expand-lg {
        padding: 10px 0px !important;
    }
    /*========TOPO========*/
    #topo{
        padding-top: 0;
        height: 800px;
        padding-bottom: 50px;
    }
    .topo__info{
        margin-top: 0;
    }

    /*========ABOUT========*/
    .about__info--box h4{
        text-align: left;
    }
    #about{
        background-position: top;
    }

    /*========TRAINING========*/
    .rowTwo{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .training__imagem{
        display: block;
    }
    .training__imagem img{
        height: 80%;
    }

    .training__box{
        flex-direction: column;
    }
    .ajustar{
        display: flex;
    }


    /*========RATES========*/
    .card__rates{
        padding: 2em;
        font-size: 14px;
    }
    .linha__rates{
        display: flex;
        align-items: center;
    }

    .card--laterais{
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .card--laterais:first-child{
        margin-right: -30px;
    }
    .card--laterais:last-child{
        margin-left: -30px;
    }

    /*========CONTACT========*/
    #contact{
        margin-top: 30px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contact .row{
        height: 60%;
    }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    /*========TOPO========*/
    .topo__info{
        margin-top: 240px;
    }

    /*========ABOUT========*/
    .about__info{
        display: flex;
        align-items: center;
    }
    .about__imagem img{
        height: 80%;
    }
    .about__imagem{
        display: flex;
        align-items: center;
    }
}
