@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


:root{
    --first-color: #191919;
    --secondary-color: #F5C400;
    --body-color: white;
    --body-font: 'Poppins', sans-serif;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

h1,h2,h3,h4 {
    font-weight: var(--font-semi-bold);
}


/*==========Navegação==========*/
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
<<<<<<< HEAD
    background-color: rgba(255, 255, 255, 0.596);
    z-index: 9999;
    border-bottom: 2px solid var(--secondary-color);
}
.nav-link{
    color: var(--first-color);
    font-size: 1.4rem;
=======
    z-index: 9999;
    border: 1px solid var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.363);
}
.nav-link{
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
>>>>>>> 7ad2ecc (About criado)
}
.nav-link:hover{
    color: var(--secondary-color);
}

.fa-bars{
<<<<<<< HEAD
    color: var(--secondary-color);
    font-size: 40px;
}
.navbar-nav{
    text-align: center;
}

.navbar img{
    width: 200px;
}

/*==========Hero==========*/
#painel{
    background-image: url("../img/bg-home-top.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

#painel h1{
    color: white;
    font-size: 4rem;
}
#painel h3{
    color: var(--secondary-color);
}

#painel button{
    background-color: var(--secondary-color);
    color: var(--first-color);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: var(--font-semi-bold);
    font-size: 1.5rem;
    margin-top: 20px;
}


/*==========Pick==========*/
#pick{
    background-color: var(--first-color);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
#pick h2{
    margin-bottom: 20px;
}
.card{
    background-color: transparent !important;
    color: white;
    border: none !important;
}
.card-head{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pick-head{
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}


/*==========Abou==========*/
#about{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/bg-about.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: cover;
}

.border-caixa{
    border: 2px solid white;
    width: auto;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.border-caixa p{
    margin-bottom: -5px;
}
=======
    color: white;
    font-size: 40px;
    z-index: 9999;
}
.navbar-collapse {
    background: #f8f9fa14;
    text-align: right;
    transition: 300ms;
}

.navbar img{
    width: 140px;
}


/*========TOPO========*/
#topo{
    height: 100vh;
    background-image: url("../img/bg-home-top.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    padding-top: 200px;
}
.topo__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}
.topo__info hr{
    width: 100px;
    border: 1px solid var(--secondary-color);
    margin-left: 0;
}
.topo__info h1{
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}
.topo__info h1 span{
    color: var(--secondary-color);
}
.topo__info h2{
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}
.texto{
    font-weight: bold;
    z-index: 1;
    position: absolute;
}
.topo__info .texto{
    font-size: 3.5rem;
    top: 155px;;
}
.topo__info h4{
    color: white;
    font-size: 25px;
    margin-top: 40px;
}

.efeitoSkew{
    margin-left: 36px;
    background-color: var(--secondary-color);
    transform: skew(-53deg);
    -webkit-transform: skew(-53deg);
    -moz-transform: skew(-53deg);
}

.topo__info .efeitoSkew{
    width: 180px;
    height: 65px;
}

.topo__info .contact{
    padding: 10px 20px;
    color: white;
    margin-top: 15px;
    border: 1px solid var(--secondary-color);
    border-collapse: collapse;
}


/*========ABOUT========*/
#about{
    background-image: url("../img/bg-about.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
}
.about__info{
    margin-top: 20px;
    margin-bottom: 25px;
}
.about__info--box{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;  
    color: white;  
}
.about__info h4{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
.about__info p{
    font-size: 16px;
    text-align: justify;
}
.about__info .efeitoSkew{
    height: 40px;
    width: 130px;
    margin-left: 20px;
}
.about__imagem img{
    width: 100%;
}

<<<<<<< HEAD
>>>>>>> 7ad2ecc (About criado)
=======
/*==========Pick==========*/
#pick{
    background-color: var(--first-color);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
#pick h2{
    margin-bottom: 20px;
}
.card{
    background-color: transparent !important;
    color: white;
    border: none !important;
}
.card-head{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pick-head{
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

>>>>>>> 10cc74b (Criada a seção pick)

/*==========Abou==========*/
#about{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/bg-about.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: cover;
}

.border-caixa{
    border: 2px solid white;
    width: auto;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.border-caixa p{
    margin-bottom: -5px;
}



/* Sem media query para `xs`, já que este é o padrão, no Bootstrap.*/
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) {
<<<<<<< HEAD
=======

    .navbar img{
        width: 160px;
    }
    /*========TOPO========*/
    #topo{
        padding-top: 100px;
        height: 750px;
    }
    .topo__info{
        margin-top: 100px;
    }
    .topo__info h1{
        font-size: 2.5rem;
    }
    .topo__info h2{
        font-size: 5.5rem;
    }
    .topo__info .texto{
        font-size: 4.5rem;
        top: 190px;
    }
    .topo__info h4{
        font-size: 30px;
        margin-top: 45px;
    }
    .topo__info .efeitoSkew{
        width: 260px;
        height: 70px;
    }

>>>>>>> 7ad2ecc (About criado)
    
}

/*Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) {
<<<<<<< HEAD
    /*==========Pick==========*/
    #pick{
        background-image: url("../img/bg-pick.png");
        background-position: center;
        background-attachment: cover;
        background-repeat: no-repeat;
    }
    .pick-head{
        background-color: var(--first-color);
    }

    
=======
    .navbar img{
        width: 180px;
    }
    /*========TOPO========*/
    #topo{
        padding-top: 0;
        height: 800px;
    }
    .topo__info{
        margin-top: 190px;
    }
    .topo__info h1{
        font-size: 3.5rem;
    }
    .topo__info h2{
        font-size: 8rem;
    }
    .topo__info .texto{
        font-size: 7.5rem;
        top: 240px;
    }
    .topo__info h4{
        margin-top: 60px;
    }
    .topo__info .efeitoSkew{
        width: 450px;
        height: 100px;
    }    

    /*========ABOUT========*/
    #about{
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .about__info{
        order: 2;
    }
    .about__info--box{
        align-items: flex-start;
    }
    .about__imagem img{
        height: 100%;
    }
>>>>>>> 7ad2ecc (About criado)

}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) {
<<<<<<< HEAD
    /*==========Hero==========*/
    #painel h1{
        font-size: 6rem;
    }

    /*==========Abou==========*/
    #about{
        background-position: center top;
=======
    .navbar img{
        width: 200px;
    }
    .navbar-collapse {
        background: transparent;
    }
    /*========TOPO========*/
    #topo{
        padding-top: 0;
        height: 800px;
        padding-bottom: 50px;
    }
    .topo__info{
        margin-top: 0;
    }

    /*========ABOUT========*/
    .about__info--box h4{
        text-align: left;
>>>>>>> 7ad2ecc (About criado)
    }

    /*==========Abou==========*/
    #about{
        background-position: center top;
    }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
<<<<<<< HEAD
    
}
=======
    /*========TOPO========*/
    .topo__info{
        margin-top: 240px;
    }

    /*========ABOUT========*/
    .about__info{
        display: flex;
        align-items: center;
    }
    .about__imagem img{
        height: 80%;
    }
    .about__imagem{
        display: flex;
        align-items: center;
    }
}
>>>>>>> 7ad2ecc (About criado)
